<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kiplening.demo" >

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UnLockActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.settings.SettingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.settings.SetPwdActivity"
            android:label="修改密码" />
        <service
            android:name=".service.LockService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <receiver android:name=".service.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.SET_BROADCAST"/>
                <action android:name="android.intent.action.MAIN_BROADCAST"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
